@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  width: 140px;
}

.navigation {
  width: 390px;
  margin-left: 30px;
}

.navigation-list {
  margin: 0;
  margin-left: 17px;
  padding: 0;
  list-style: none;
}

.navigation-list .navigation-item-content {
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.navigation-user {
  margin-left: auto;
  width: 264px;
}

.navigation-user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 264px;
}

.button-brown {
  background-color: #756157;
}

.navigation-user .button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.page-intro {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
}

.intro-image {
  display: block;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 82px;
}

.advantages-slogan {
  margin-top: 63px;
  margin-bottom: 34px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-reasons {
  margin-bottom: 90px;
  color: #333333;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  height: 384px;
}

.advantages-item-first {
  width: 1200px;
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
}

.advantages-item-sublist {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  display: flex;
}

.advantages-item-second {
  width: 1200px;
  display: flex;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-numeration {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-item-blue {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-item-blue .advantages-description {
  color: #ffffff;
}

.advantages-item-icons-grey,
.advantages-item-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-darkgrey {
  background-color: rgba(131, 179, 211, 0.2);
}

.hotel-search {
  width: 1200px;
  height: 233px;
  padding-top: 91px;
  padding-bottom: 93px;
  text-align: center;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0;
  padding: 0;
  margin-bottom: 56px;
}

.hotel-search .button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  width: 1200px;
  height: 223px;
  padding: 94px 0;
}

.subscribe-index {
  background-image: url("../images/index-subscribe-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  text-align: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-form {
  margin-top: 46px;
  color: #F2F2F2;
}

.button-blue {
  background-color: #82B3D3;
}

.subscribe-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer {
  display: flex;
  width: 1056px;
  margin: 0 auto;
}

.footer-social {
  width: 116px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-phone {
  width: 331px;
  margin-left: 247px;
}

.footer-phone-link {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
}

.footer-developer {
  width: 115px;
  margin-left: auto;
}

.catalog-filter {
  width: 1060px;
  height: 288px;
  padding: 70px;
  padding-top: 35px;
  background-image: url("../images/catalog-background.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
}

.inner-header-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.catalog-filter-forms {
  width: 1060px;
  display: flex;
  justify-content: stretch;
}

.catalog-filter-group {
  border: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
}

.catalog-filter-group-first {
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-second {
  width: 145px;
  margin-right: 175px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 21px;
}

.price-control {
  width: 288px;
  margin-right: 70px;
}

.catalog-filter-label {
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-button-container {
  width: 160px;
}

.catalog-filter-forms .button-blue {
  width: 160px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.catalog-filter-forms .reset-button {
  width: 160px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.catalog {
  width: 1200px;
}

.catalog-select {
  width: 1057px;
  margin-top: 50px;
  margin-left: 72px;
  margin-right: 71px;
  display: flex;
}

.catalog-header {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-control {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  width: 1056px;
  margin-top: 57px;
  margin-left: 73px;
  margin-right: 71px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hotel-card {
  width: 340px;
  margin-right: 18px;
}

.hotel-card:nth-child(3) {
  margin-right: 0;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
}

.hotel-card-definition {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-button {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-green {
  background-color: #7DB54F;
}

.hotel-card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination {
  width: 1056px;
  margin-left: 73px;
  margin-right: 71px;
  display: flex;
}

.pagination-list {
  margin: 0;
  padding: 0;
  margin-right: 300px;
  list-style: none;
  display: flex;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-value-text {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.pagination-select-control {
  margin-left: auto;
}

.subscribe-catalog {
  text-align: center;
}

.subscribe-catalog .subscribe-description {
  color: #333333;
}

.subscribe-catalog label {
  color: #000000;
}
